bin/
obj/
*.user
*.suo
*.log
.git
.gitignore
docker-compose*
Dockerfile*
.vs/
.vscode/
.DS_Store
Thumbs.db
.env
.env.*
appsettings.Development.json
appsettings.Local.json

/PrepPal+.Backend/PrepPal+.UI/logs/*