node_modules
dist
build
.env
.vite
.vscode


# ===== .NET / VS =====

bin/
obj/
.vs/
*.user
*.suo
*.userosscache
*.sln.docstates

# ===== ASP.Net ======
appsettings.Development.json
appsettings.Local.json
